.sectionBtn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.btnDownloadImg {
  background-color: #141217;
  color: #a2a9af;
  font-weight: 700;
}
